/*
colors {
     blackBrown: #6f3f21,
    darkBrown: #77472b,
    brown: #93582c,
    whiteBrown: #ffcf91,
}
*/

#details {
  /* position: relative; */
  width: 100vw;
  height: 100vh;
  top: 25%;
  left: 20%;
  transform: translate(-10%, 0%);
}

#details-comments {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.details-comments-count {
  display: flex;
  flex-direction: row;
  gap: 14px;
  height: 80%;
}

.details-wrapper {
  background-image: linear-gradient(
    to right top,
    #ffcf91a9,
    #ddab75a3,
    #bb885bb1,
    #996642ce,
    #77472bc3
  );
  margin: 80px 0px;
  margin-left: 240px;
  height: 92%;
  width: 56%;
  border: 2px ridge #6f3f21;
  box-shadow: 10px 20px 30px #77472b;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  flex: 0 1 auto;
  gap: 34px;
}

.details-wrapper p {
  color: #6f3f21;
  text-align: center;
  font-size: 18px;
}
.details-wrapper-img-container {
  margin-top: 40px;
  width: 100%;
  height: 45%;
}

.details-wrapper-content-container {
  margin-top: 20px;
}

.details-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* border: 2px inset #77472b; */
  border-radius: 2px;
  transition: transform 300ms ease-in-out;
}

.details-wrapper img:hover {
  transform: scale(1.3);
}

.details-kind-of-furniture {
  font-weight: bold;
  font-size: 20px;
}

.details-type-of-wood {
  font-weight: bold;
  font-size: 16px;
}

.details-price {
  font-weight: bold;
  font-size: 14px;
}

.details-width-height {
  font-weight: bold;
}

.details-comments {
  font-size: 14px;
  color: #77472b;
}

span {
  font-size: 16px;
}

.action-buttons {
  display: flex;
  justify-content: center;
}

.action-buttons button:active {
  border: 4px inset #ffcf91;
  background: #6f3f21;
  color: #ffcf91;
}

.edit-delete-back-btns-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 34px;
  /* margin: auto; */
}

.edit-btn,
.back-btn,
.delete-btn {
  text-decoration: none;
  margin: auto 50px;
  font-size: 22px;
  width: 130px;
  padding: 10px;
  background: #6f3f21;
  border-radius: 4px;
  color: #ffcf91;
  transition: all 450ms;
  border: 4px inset #ffcf91;
  text-align: center;
  text-transform: uppercase;
}

.back-btn:hover,
.edit-btn:hover,
.delete-btn:hover {
  background: #ffcf91;
  color: #6f3f21;
  border: 4px outset #6f3f21;
  cursor: pointer;
}

.details-comments-and-add-comments {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.details-comments-container {
  font-size: 20px;
  color: #77472b;
  width: 90%;
  height: 100%;
  margin-top: 80px;
  background-color: #ffcf91;
  border-radius: 4px;
  border: 2px solid #77472b;
  box-shadow: 10px 20px 30px #77472b;
  overflow: auto;
}

.comments-title {
  text-align: center;
}

.comment {
  font-size: 20px;
  text-decoration: none;
  list-style: none;
}

.comments-ul {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 90%;
  height: 10%;
}

.comments-li {
  width: 100%;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.comments-p {
  width: 100%;
  background-color: #6f3f212a;
  border-radius: 8px;
  padding: 6px;
}

.add-comment-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.comment-furniture {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  height: 100%;
}

.form-add-comment {
  background-color: #6f3f21cb;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 2px solid #ffcf91fb;
  border-radius: 8px;
  overflow: hidden;
  align-items: center;
  box-shadow: 10px 20px 30px #77472b;
}

.form-add-comment .text-area {
  background-color: #ffcf91fb;
  height: 70%;
  margin: 12px;
  width: 80%;
}

.error-container p {
  margin: 8px;
  font-weight: bold;
  font-size: 18px;
  color: #ffcf91;
  opacity: 0.9;
  text-shadow: 2px 2px 12px #ffcf91;
}

.btn-add-comment {
  background-color: #ffcf91fb;
  color: #6f3f21;
  width: 40%;
  margin: 10px;
  padding: 12px 14px;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 2px;
  border-radius: 4px;
  border: 2px solid #ffcf91fb;
  text-transform: uppercase;
}

.btn-add-comment:hover {
  cursor: pointer;
  background-color: #6f3f21;
  color: #ffcf91fb;
}

@media (max-width: 1300px) {
  #details {
    height: 95vh;
  }

  #details-comments {
    height: 80%;
    gap: 24px;
  }

  .details-wrapper {
    margin: 70px 0px;
    margin-left: 160px;
    height: 100%;
    width: 46%;
    gap: 18px;
  }

  .details-wrapper-img-container {
    width: 100%;
    height: 55%;
  }
  .details-wrapper img:hover {
    transform: scale(1.3);
  }

  .edit-delete-back-btns-container {
    gap: 20px;
  }

  .edit-btn,
  .back-btn,
  .delete-btn {
    margin: auto;
    font-size: 18px;
    width: 100px;
  }

  .action-buttons {
    gap: 20px;
  }
}

@media (max-width: 800px) {
  #details {
    height: 100%;
     margin-top: 40px;
    
  }

  .details-wrapper {
    margin: 20px 0px;
    margin-left: 120px;
    height: 82vh;
    width: 50%;
    gap: 8px;
  }

  .details-wrapper-img-container {
    width: 100%;
    height: 45%;
    margin-top: 20px;
  }

  .details-wrapper-content-container {
    gap: 8px;

  }

  .edit-delete-back-btns-container {
    gap: 6px;
  }

  .edit-btn,
  .back-btn,
  .delete-btn {
    margin: auto;
    font-size: 14px;
    width: 74px;
    padding: 6px;
    border: 3px inset #ffcf91;
  }

  .action-buttons {
    gap: 6px;
  }

  .details-comments-and-add-comments {
    width: 50%;
    gap: 14px;
  }

  .details-comments-container {
    font-size: 16px;
    width: 100%;
    height: 40vh;
    margin-top: 20px;
  }

  .comments-ul {
    font-size: 20px;
    width: 98%;
  }

  .comments-p {
    padding: 4px;
    font-size: 16px;
  }
  .comment-furniture {
    width: 100%;
}

  .add-comment-container {
    height: 40vh;
  }

  .form-add-comment .text-area {
    height: 80%;
    margin: 6px;
    width: 80%;
  }
  
  
  .btn-add-comment {
    width: 44%;
    margin: 12px;
    padding: 8px;
    font-size: 14px;
    letter-spacing: 1px;
  }
  


}
