/*
colors {
     blackBrown: #6f3f21,
    darkBrown: #77472b,
    brown: #93582c,
    whiteBrown: #ffcf91,
}
*/

#details {
    /* position: relative; */
    width: 100vw;
    height: 100vh;
    top: 25%;
    left: 20%;
    transform: translate(-10%, 0%);
  }

  .details-comments {
    display: flex;
    flex-direction: row;
    gap: 14px;
    height: 80%;
  }

  
  .details-wrapper {
    background-image: linear-gradient(
      to right top,
      #ffcf91a9,
      #ddab75a3,
      #bb885bb1,
      #996642ce,
      #77472bc3
    );
    margin: 80px 0px;
    margin-left: 240px;
    height: 100%;
    width: 56%;
    border: 2px ridge #6f3f21;
    box-shadow: 10px 20px 30px #77472b;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    flex: 0 1 auto;
  }
  
  .details-wrapper p {
    color: #6f3f21;
    text-align: center;
    font-size: 18px;
  }
  .details-wrapper-img-container {
    width: 60%;
    height: 45%;

  }
  
  .details-wrapper img {
    display: block;
    margin: 12px auto;
    width: 100%;
    height: 100%;
    object-fit:contain;
    border: 2px inset #77472b;
    border-radius: 2px;
    transition: transform 300ms ease-in-out;
  }



  
  .details-wrapper img:hover {
    transform: scale(1.5);
  }
  
  .details-kind-of-furniture {
    font-weight: bold;
    font-size: 20px;
  }
  
  .details-type-of-wood {
    font-weight: bold;
    font-size: 16px;
  }
  
  .details-price {
    font-weight: bold;
    font-size: 14px;
  }
  
  .details-width-height {
    font-weight: bold;
  }
  
  .details-comments {
    font-size: 14px;
    color: #77472b;
  }
  
  span {
    font-size: 16px;
  }
  
  .action-buttons {
    display: flex;
    justify-content: center;
  }


  .action-buttons button:active {
    border: 4px inset #ffcf91;
    background: #6f3f21;
    color: #ffcf91;
  }

  .edit-delete-back-btns-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    /* margin: auto; */

  }



  .edit-btn,
  .back-btn,
  .delete-btn {
    text-decoration: none;
    margin: auto 50px;
    font-size: 22px;
    width: 130px;
    padding: 10px;
    background: #6f3f21;
    border-radius: 4px;
    color: #ffcf91;
    transition: all 450ms;
    border: 4px inset #ffcf91;
    text-align: center;
  }

  .back-btn:hover,
  .edit-btn:hover,
  .delete-btn:hover {
    background: #ffcf91;
    color: #6f3f21;
    border: 4px outset #6f3f21;
    cursor: pointer;
  }

  .details-comments-and-add-comments {

    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .details-comments-container {
    font-size: 20px;
    color: #77472b;
    width: 90%;
    height: 100%;
    margin-top: 80px;
    background-color: #ffcf91;
    border-radius: 4px;
    border: 2px solid #77472b;
    box-shadow: 10px 20px 30px #77472b;
    overflow:auto;
  }

  .comments-title {
    text-align: center;
  }

  .comment {
    font-size: 20px;
    text-decoration: none;
    list-style: none;
  }

  .comment {
    font-size: 16px;
  }
  .comments-ul {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    height: 10%;

  }

  .comments-li {
    width: 100%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
  }

  .comments-p {
    width: 100%;
  
  }


  .add-comment-container {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
  
  }

  .comment-furniture {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    height: 340px;
    margin-top: 40px;
   

  }

  .form-add-comment {
    background-color: #6f3f21cb ;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 64%;
    border: 2px solid #ffcf91fb;
    border-radius: 8px;
    overflow: hidden;
    align-items: center;
    box-shadow: 10px 20px 30px #77472b;

  }

  .form-add-comment .text-area {
      background-color: #ffcf91fb;
      height: 70%;
      margin: 12px;
      width: 80%;
  }
 
  .btn-add-comment {
    background-color: #ffcf91fb;
    color: #6f3f21;
    width: 40%;
    margin: 10px;
    padding: 12px 14px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 4px;
    border: 2px solid #ffcf91fb;
    text-transform: uppercase;

  }

  .btn-add-comment:hover {
    cursor: pointer;
    background-color: #6f3f21;
    color: #ffcf91fb;
  }

