/*
colors {
     blackBrown: #6f3f21,
    darkBrown: #77472b,
    brown: #93582c,
    whiteBrown: #ffcf91,
}
*/

#furnitures {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
  height: auto;
}
#furnitures h2 {
  color: #6f3f21;
  text-align: center;
  font-size: 50px;
}

.no-furnitures {
  color: #6f3f21;
  text-align: center;
  font-size: 52px;
  align-items: center;
}

.furnitures-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.furniture {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  width: 21vw;
  height: 55vh;
  margin: auto;
  margin-bottom: 32px;
  background-color: #ffcf9140;
  border-radius: 12px;
  overflow: hidden;
  border: 2px solid #77472b;
  box-shadow: -4px 3px 25px 1px rgba(0, 0, 0, 0.55);
}

.image {
  height: 60%;
  width: 100%;
  object-fit: cover;
}

.furniture-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 36%;
  width: 100%;
  gap: 16px;
}

.furniture-content .kind {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: #93582c;
}

.furniture-content .price {
  padding: 10px;
  margin-bottom: 24px;
  font-weight: bold;
  color: #93582c;
}

.furniture-content .details-btn {
  text-decoration: none;
  font-size: 18px;
  width: 36%;
  border-radius: 4px;
  text-align: center;
  color: whitesmoke;
  background: #77472b;
  padding: 4px 12px;
  margin-bottom: 12px;
}
.details-btn:hover {
  background: whitesmoke;
  color: #77472b;
}

@media (max-width: 1300px) {
  #furnitures {
    margin-top: 16px;
    gap: 12px;
    margin-bottom: 240px;
  }

  #furnitures h2 {
    color: #6f3f21;
    text-align: center;
    font-size: 34px;
  }

  .furniture {
    justify-content: space-evenly;
    width: 26%;
    height: 40%;
  }

  .image {
    height: 30%;
    width: 100%;
  }
}

@media (max-width: 800px) {
  #furnitures {
    margin-top: 0px;
    gap: 4px;
    margin-bottom: 80px;
  }

  #furnitures h2 {
    font-size: 32px;
  }
}

@media (max-width: 360px) {
  #furnitures {
    margin-top: 0px;
  }

  #furnitures h2 {
    font-size: 28px;
  }

  .no-furnitures {
    font-size: 26px;
  }

  .furnitures-container {
    flex-direction: column;
  }

  .furniture {
    flex-direction: column;
    width: 80%;
    height: 44vh;
    margin-bottom: 12px;
  }

  .image {
    height: 60%;
    width: 100%;
    object-fit: fill;
  }

  .furniture-content {
    height: 40%;
    gap: 8px;
  }

  .furniture-content .kind {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .furniture-content .price {
    font-size: 18px;
 
  }

  .furniture-content .details-btn {
    font-size: 16px;
    width: 46%;
    background: #77472b;
    padding: 4px 10px;
  }
}
