body {
  font-family: zeroes;
  background-color: #ffcf9182;
  /* font-family: Georgia, 'Times New Roman', Times, serif,"sans-serif";  */
}

/*
colors {
     blackBrown: #6f3f21,
    darkBrown: #77472b,
    brown: #93582c,
    whiteBrown: #ffcf91,
}
*/

.home-header-1 {
  font-size: 44px;
  text-align: center;
  color: #6f3f21;
  height: auto;
}

.home-header-1 h1 {
  margin: auto;
  background-color: #ffcf91;
  max-height: 100%;
}

.home-elements {
  position: relative;
  /* display: flex; */
}

.home-list-items {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 42px;
  /* z-index: 1; */
}

.home-list-items li {
  list-style: none;
  margin-bottom: 24px;
  display: flex;
  gap: 12px;
}

.home-list-items li i {
  color: #77472b;
}

.home-list-items li a {
  text-decoration: none;
  color: #93582c;
  cursor: grabbing;
}

#background-pic {
  width: 100%;
  height: 80vh;
}